#resume {
  display: flex;
  min-height: 0;
  margin: 2rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  /* border: 2px solid black; */
  width: 90%;
  margin: 4rem auto;
}
.left {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem;
  width: 70rem;
  color: #fff;
  background-color: #b20202;
}

.objective p {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  line-height: 2.5rem;
}
.objective h3 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.pic {
  display: block;
  height: 15rem;
  width: 15rem;
  border-radius: 8rem;
  border: 5px solid #e67c7c;
  padding: 0.5rem;
  object-fit: cover;
  margin: 3rem auto 0;
}

.right {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 100%;
  padding: 2rem 4rem;
  box-shadow: inset 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #e67c7c;
  color: #000000;
}
.name {
  padding-bottom: 2rem;
}
.email {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding-bottom: 2rem;
}
.contact {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding-bottom: 2rem;
}
.address {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding-bottom: 3rem;
}
.social {
  padding-top: 20rem;
  padding-left: 2rem;
}
.l-email {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}
.l-contact {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}
.l-address {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  padding-bottom: 3rem;
  color: #fff;
}
.edu h3 {
  font-size: 3rem;
  padding: 2rem 0 2rem 0;
}
.edu p {
  font-size: 2rem;
  line-height: 4rem;
}
.exp h3 {
  font-size: 3rem;
  padding: 2rem 0 2rem 0;
}
.exp p {
  font-size: 2rem;
  line-height: 4rem;
}
.skill h3 {
  font-size: 3rem;
  padding: 2rem 0 2rem 0;
}
.skill p {
  font-size: 2rem;
  line-height: 4rem;
}

.edit {
  background-color: #000000;
  margin: 2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 2rem 5rem;
  font-size: 2rem;
  display: none;
}
.display {
  display: block;
}
.editing {
  transition: all 0.1s ease-in;
}
.editing:focus {
  border: 2px solid white;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.download , .sharebtn {
  background-color: #000000;
  margin: 2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 2rem 5rem;
  font-size: 2rem;
  /* display: none; */
  text-decoration: none;
}
.download {
  display: block;
}
